.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-container label {
  margin-bottom: 5px;
}

.input-container input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}