/*// src/containers/HomePage/styles.css*/
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}