.page-container {
  padding: 20px;
}

.params-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.checkbox-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-left: 8px;
}