/* src/containers/BCLSeriesPage/styles.css */
.page-container {
  padding: 20px;
}

.params-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.charts-grid-container {
  margin-top: 30px;
  display: grid;
  gap: 40px;
}

.chart-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
}

.chart-container h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.2em;
}